---
import Logo from "../assets/logo.png"
---

<header>
	<div class="bg-white w-full h-16">

		<h1 class="text-center">Multiverse Immigration Consultancy Inc.</h1>
		<img src={Logo.src} alt="logo" class="h-16" />
		<div class="flex justify-center">
			nav
		</div>
	</div>
</header>
